tags
*~
*.zwc
.DS_Store
node_modules/
bower_components/
.github-token
wkhtmltopdf

.config/*
!.config/alacritty/
!.config/dein/
!.config/efm-langserver/
!.config/nvim/
!.config/starship.toml
!.config/terminator/
!.config/tmux/
!.config/zsh/
!.config/ghostty/
!.config/mise/
.config/**/*.zwc